# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include requirements file
include requirements.txt

# Include file with test data.
# I am not sure this if this is the right thing to do or not.
# Trying to make check-manifest happy...
include pexplore/test_data/custom.json